<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="/fragments/header :: headFragment"></th:block>
<meta charset="UTF-8">
<title>지출 통계 화면</title>
    <!-- c3.chart -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
    <!-- Date picker css -->
     <link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
    <!-- custom css -->
    <link th:href="@{/css/statistics/statisticsStyle.css}" rel="stylesheet"/>
</head>
<body>
	<div id="side_bar"></div>
	<div id="top_container">
		<div>
		Date <input type="text" id="monthpicker">
		</div>
		<div id="trend"></div>
	</div>
	
	<div id="left_container">
		<div id="map"></div>
	</div>
	<div id="right_container">
		<div id="payCategory"></div>
		<div id="countCategory"></div>
	</div>
	<div id="footer"></div>
	<!-- jQuery javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Date picker -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="./js/jquery.monthpicker.js"></script>
	<!-- C3 javascript -->
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
	<!-- Kakao Map Api -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=674ad988aec29b3f66bedf5414153f76&libraries=clusterer"></script>
	<!-- custom javascript -->
	<script type="text/javascript" src="../js/statistics/statisticsFunc.js"></script>
</body>
</html>