body{
	margin : 0;	/* body의 바깥 여백을 없앰으로서 내비게이션 바가 페이지에 바짝 붙게 함*/
}

.nav-container{
	display : flex;
	flex-direction : row;
	float : left;
	width : 100%;
	margin : 0;
	padding : 0;
	background-color : #15400e;
	list-style-type:none;
}

.nav-item {
	padding : 15px;
	cursor:pointer;
}

.nav-item a{
	text-align : center;
	text-decoration : none;
	color : white;
}

.user-info{
	float:left;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.button{
    color: wheat;
}
#drop-content{
    position: absolute;
    z-index: 1;
}
#drop-content a{
    display:block;
    font-size: 20px;
    background-color: #dfdfdf;
    color: black;
    text-decoration: none;
    padding: 2.5px 9px;
    margin: 2px 0px 0px 0px;
}

.user-name{
	color: white;
}