@charset "EUC-KR";

:invalid{
	outline:1px solid red;
}

.dataInput{
	border: 1px solid;
	float : left;
	width : 75%;
}

.searchBtn{
	float : right;
	width : 25%;	
}

.dataContainer{
	position: relative;
}

.tRow{
	background-color:#d3d3d3;
}

#listTable{
	overflow:scroll;
	height : 300px;
}

#excelTable{
	overflow:scroll;
	height : 300px;
}