<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>내정보</title>
    <link th:href="@{/css/user/userStyle.css}" rel="stylesheet"/>
</head>
<body>
	<section class="main_container">
	    <h1>내정보 확인 페이지입니다.</h1>
	    <p>
	        <div class="info_wrap">
	        이메일 : <span sec:authentication="principal.email"></span>
	        </div>
	        <div class="info_wrap">
	        이름 : <span sec:authentication="principal.username"></span>
	        </div>
	        <div class="info_wrap">
	        나이 : <span sec:authentication="principal.age"></span>
	        </div>
	        <div class="info_wrap">
	        성별 : <span sec:authentication="principal.gender" id="gender" var="gender">${gender}</span>
	        </div>
	        <div class="info_wrap">
	        생성일자 : <span sec:authentication="principal.createdDate"></span>
	        </div>
	        <div class="info_wrap">
	        권한 : <span sec:authentication="authorities"></span>
	        </div>
	    </p>
	    <div class="btn" sec:authorize="isAuthenticated()">
		    	<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
		</div>
		<div class="btn" sec:authorize="isAuthenticated()">
			<a th:href="@{'/statistics/main'}">메인으로 이동</a>
		</div>
	</section>
</body>
	<script>
		if (document.getElementById("gender").innerText == 'Y'){
			document.getElementById("gender").innerText = '남';
		}else{
			document.getElementById("gender").innerText = '여';
		}
	</script>
</html>