<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            <meta name="_csrf" th:content="${_csrf.token}"/>
			<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
			
	        <!-- DataTable -->
	        <link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	        <!-- Fontawsome -->
			<link rel="stylesheet" type="text/css"  th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}" />
	        <link rel="stylesheet" type="text/css"  th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
	        <link rel="stylesheet" type="text/css"  th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min-jsf.css}" />
	        <link rel="stylesheet" type="text/css"  th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome-jsf.css}" />
	        <!-- Custom css -->
    		<link th:href="@{/css/fragments/headerStyle.css}" rel="stylesheet"/>
    		<link th:href="@{/css/excel/locationMappingStyle.css}" rel="stylesheet"/>
    		
	    	</head>    
	        <nav>
	        	<ul class="nav-container">
	        		<li class="nav-item"><a href="/statistics/main">메인</a>
	        		<li class="nav-item"><a href="/accountBook">거래내역</a>
	        		<li class="nav-item"><a href="/locationMapping">장소 매핑</a>
	        		<li class="nav-item dropdown">
						<div class="dropdown">
							<span sec:authentication="principal.username" class="user-name"></span>		        
					        <button onclick="dp_menu()" class="button">🔽</button>
					        <div style="display: none;" id="drop-content">
					            <a href='/user/info'>내정보</a>
					            <a href='/user/logout'>로그아웃</a>
					        </div>
					    </div>
					</li>
	        	</ul>
	        </nav>
    </th:block>
</html>