<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
  	<!--  header 파일 import -->
  	<th:block th:replace="/fragments/header :: headFragment"></th:block>
    <meta charset="UTF-8">
    
    <!-- csrf정보를 담기위한 meta -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    
    <title>가계부 데이터</title>
    <!-- 기본 JQuery UI CSS파일 -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <!-- https://bootstrap-table.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- timePicker를 위한 css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom css -->
    <link th:href="@{/css/excel/accountBookStyle.css}" rel="stylesheet"/>
  </head>
  <div>
  	<span>
  		<button id="btnAdd" th:type="button" onclick="return addRow()">추가</button>
  		<button id="btndelete" th:type="button" onclick="return deleteRow()">삭제</button>
  		<button id="btnSave" class="btn btn-send-data" th:type="button" onclick="return dataSave()">저장</button>
  		<input id="rowIndex" class="rowIndex" type="hidden" name="rowIndex" th:value="${rowIndex}">
		<input id="keyword" class="keyword" type="text" name="keyword" maxlength=255 th:value="${keyword}" autocomplete="off">
  	</span>
  </div>
  <body>
  	<table id="accountBook" class="table">
  		<thead id="listHeader" class="thead-dark">
  			<tr>
	  			<th id="checkBox"				scope="col" class="align-middle"><input id="checkAll" type="checkbox" value=""></th>
	  			<th id="approvalNumber" 		scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">승인번호</th>
	  			<th id="storeName"      		scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">가맹점명</th>
	  			<th id="amountOfPayment"		scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">거래금액</th>
	  			<th id="paymentDate"    		scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">거래일시</th>
	  			<th id="usedCardNumber"			scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">카드번호</th>
	  			<th id="classificationOfUse"	scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">이용구분</th>
	  			<th id="installmentMonth"		scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">할부개월</th>
	  			<th id="cancellation"			scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">취소여부</th>
	  			<th id="storeCategory"			scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">업체분류</th>
	  			<th id="storeCategoryDetail"	scope="col" class="align-middle"><input class="radio" name="radio" type="radio" value="">업체세부분류</th>
	  			<th id="addressName"			scope="col"	class="align-middle" style="display:none">주소</th>
	  			<th id="roadAddressName"		scope="col"	class="align-middle" style="display:none">도로명주소</th>
	  			<th id="xcoordinate"			scope="col"	class="align-middle" style="display:none">x좌표</th>
	  			<th id="ycoordinate"			scope="col"	class="align-middle" style="display:none">y좌표</th>
  			</tr>
  		</thead>
  		<tbody id="listBody" class="thead-light">
  			
  		</tbody>
  	</table>
    <div>
	  	<span>
	  		<button id="btnAddExcelRow" th:type="button" onclick="return addExcelRow()">추가</button>
	  		<button id="btndeleteExcelRow" th:type="button" onclick="return deleteExcelRow()">삭제</button>
	  		<button id="copyExcelColumn" th:type="button" onclick="return copyExcelColumn()">복사하기</button>
	  		<button id="addExcelColumn" th:type="button" onclick="return addExcelColumn()">추가하기</button>
	  		<input type="file" onchange="readExcel()">
	  	</span>
	  </div>
    <table class="table table-striped">
	    <thead id="excelHeader">
	    </thead>
	    <tbody id="excelBody">
	    </tbody>
  </table>
  <div id="displayDiv">
  
  </div>
  <!-- Jquery 기본 js파일  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- jQuery UI 라이브러리 js파일 -->
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
  <!-- Cannot read properties of undefined (reading 'msie')에러를 잡기 위해 아래 script 추가 -->
  <script type="text/javascript">
  jQuery.browser = {};
	(function () {
	    jQuery.browser.msie = false;
	    jQuery.browser.version = 0;
	    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
	        jQuery.browser.msie = true;
	        jQuery.browser.version = RegExp.$1;
	    }
	})();
  </script>
  <!-- Bootstrap js파일 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- timepicker를 위한 js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <!-- excel 추출 js파일 -->
  <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
  <script type="text/javascript" src="../js/excel/excelUpload.js"></script>
  </body>
</html>