<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>엑셀 업로드</title>
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
  </head>
  <div>
  	<span><button id="btnAdd">추가</button><button id="btndelete">삭제</button><button id="btnSave">저장</button></span>
  </div>
  <body>
  	<table id="accountBook" class="table" data-search="true" data-search-text="8">
  		<thead id="listheader" class="thead-dark">
  			<tr>
	  			<th id="approvalNumber" scope="col">승인번호</th>
	  			<th scope="col">가맹점명</th>
	  			<th scope="col">거래금액</th>
	  			<th scope="col">거래일시</th>
	  			<th scope="col">카드번호</th>
	  			<th scope="col">이용구분</th>
	  			<th scope="col">할부개월</th>
	  			<th scope="col">취소여부</th>
  			</tr>
  		</thead>
  		<tbody id="listBody" class="thead-light">
  			
  		</tbody>
  	</table>
    <form id="excelForm" th:action="@{/excelUpload}" method="POST" enctype="multipart/form-data">
      <input type="file" th:name="file" id="inputExcelRead" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
      <button class="btn btn-send-data" th:type="button" onclick="return dataSend()">저장</button>
    </form>
    <table class="table table-striped">
	    <thead id="excelHead">
	    </thead>
	    <tbody id="excelBody">
	    </tbody>
  </table>
  <div id="displayDiv">
  
  </div>
  <!-- Jquery UI 기본 js파일  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap js파일 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- excel 추출 js파일 -->
  <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
  <script type="text/javascript" src="../js/excelUpload.js"></script>
  </body>
</html>