<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>카드내역</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<div class="sendData">
	<button class="btn btn-send-data" type="button" onclick="return dataSend()">저장</button>
</div>
<body>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">이용일</th>
      <th scope="col">승인번호</th>
      <th scope="col">이용카드</th>
      <th scope="col">이용가맹점명</th>
      <th scope="col">사업자번호</th>
      <th scope="col">이용구분</th>
      <th scope="col">할부개월</th>
      <th scope="col">이용금액(원)</th>
      <th scope="col">취소금액(원)</th>
      <th scope="col">결제예정일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${datas}" >
      <td th:text="${data.dateOfUse}"></td>
      <td th:text="${data.approvalNumber}"></td>
      <td th:text="${data.usedCardNumber}"></td>
      <td th:text="${data.storeName}"></td>
      <td th:text="${data.businessNumber}"></td>
      <td th:text="${data.classificationOfUse}"></td>
      <td th:text="${data.installmentMonth}"></td>
      <td th:text="${data.usageAmount}"></td>
      <td th:text="${data.cancellationAmount}"></td>
      <td th:text="${data.paymentDueDate}"></td>
    </tr>
    </tbody>
  </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/excelUpload.js"></script>
</body>
</html>